In [1]:
import pandas as pd
import requests
from census import Census
from us import states

# Census API Key
from config import api_key
c = Census(api_key, year=2010)

In [2]:
census_data = c.acs5.get(("NAME", "B01003_001E"), {'for': 'state:*'})

In [3]:
census_df = pd.DataFrame(census_data)

In [4]:
census_df = census_df.rename(columns={"B01003_001E": "Population",
                                      "NAME": "State", "state": "State_no"})

In [5]:
census_df.head()

        State  Population State_no
0     Alabama   4712651.0       01
1      Alaska    691189.0       02
2     Arizona   6246816.0       04
3    Arkansas   2872684.0       05
4  California  36637290.0       06

In [8]:
census_df = census_df[['State', 'Population']]
census_df

                   State  Population
0                Alabama   4712651.0
1                 Alaska    691189.0
2                Arizona   6246816.0
3               Arkansas   2872684.0
4             California  36637290.0
5               Colorado   4887061.0
6            Connecticut   3545837.0
7               Delaware    881278.0
8   District of Columbia    584400.0
9                Florida  18511620.0
10               Georgia   9468815.0
11                Hawaii   1333591.0
12                 Idaho   1526797.0
13              Illinois  12745359.0
14               Indiana   6417398.0
15                  Iowa   3016267.0
16                Kansas   2809329.0
17              Kentucky   4285828.0
18             Louisiana   4429940.0
19                 Maine   1327665.0
20              Maryland   5696423.0
21         Massachusetts   6477096.0
22              Michigan   9952687.0
23             Minnesota   5241914.0
24           Mississippi   2941991.0
25              Missouri   5922314.0
26               Montana    973739.0
27              Nebraska   1799125.0
28                Nevada   2633331.0
29         New Hampshire   1313939.0
30            New Jersey   8721577.0
31            New Mexico   2013122.0
32              New York  19229752.0
33        North Carolina   9271178.0
34          North Dakota    659858.0
35                  Ohio  11512431.0
36              Oklahoma   3675339.0
37                Oregon   3761925.0
38          Pennsylvania  12612705.0
39          Rhode Island   1056389.0
40        South Carolina   4511428.0
41          South Dakota    799462.0
42             Tennessee   6234968.0
43                 Texas  24311891.0
44                  Utah   2657236.0
45               Vermont    624258.0
46              Virginia   7841754.0
47            Washington   6561297.0
48         West Virginia   1840802.0
49             Wisconsin   5637947.0
50               Wyoming    545579.0
51           Puerto Rico   3762322.0

In [9]:
census_df = census_df.drop(census_df.index[51])

In [10]:
census_df

                   State  Population
0                Alabama   4712651.0
1                 Alaska    691189.0
2                Arizona   6246816.0
3               Arkansas   2872684.0
4             California  36637290.0
5               Colorado   4887061.0
6            Connecticut   3545837.0
7               Delaware    881278.0
8   District of Columbia    584400.0
9                Florida  18511620.0
10               Georgia   9468815.0
11                Hawaii   1333591.0
12                 Idaho   1526797.0
13              Illinois  12745359.0
14               Indiana   6417398.0
15                  Iowa   3016267.0
16                Kansas   2809329.0
17              Kentucky   4285828.0
18             Louisiana   4429940.0
19                 Maine   1327665.0
20              Maryland   5696423.0
21         Massachusetts   6477096.0
22              Michigan   9952687.0
23             Minnesota   5241914.0
24           Mississippi   2941991.0
25              Missouri   5922314.0
26               Montana    973739.0
27              Nebraska   1799125.0
28                Nevada   2633331.0
29         New Hampshire   1313939.0
30            New Jersey   8721577.0
31            New Mexico   2013122.0
32              New York  19229752.0
33        North Carolina   9271178.0
34          North Dakota    659858.0
35                  Ohio  11512431.0
36              Oklahoma   3675339.0
37                Oregon   3761925.0
38          Pennsylvania  12612705.0
39          Rhode Island   1056389.0
40        South Carolina   4511428.0
41          South Dakota    799462.0
42             Tennessee   6234968.0
43                 Texas  24311891.0
44                  Utah   2657236.0
45               Vermont    624258.0
46              Virginia   7841754.0
47            Washington   6561297.0
48         West Virginia   1840802.0
49             Wisconsin   5637947.0
50               Wyoming    545579.0

In [11]:
census_df.to_csv("Resources/StatePopulation.csv", index=False, header=True)